<!DOCTYPE html>
<html>
<head>
    <title>Rough Times</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- <link href="https://www.jsdelivr.com/package/npm/pdfjs-dist"> -->
  </head>
<body class="d-flex text-center text-white" style="background-color: pink;">

  

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Roughity-Rough Times</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Read something</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop">Buy something and support us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Share your rough story</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>


    <div class="row mt-5" >
        <div class="col-6 offset-3">
           <h1>Test comic title</h1>
           <a href='/comic'> comic book </a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href='/comic/one'> <img src="https://preview.redd.it/3589isgqo6m21.jpg?width=2550&format=pjpg&auto=webp&s=cb4a008f43b6b44b7dc17f40c28309af1aec971f" class="d-block w-100" style="width: 150px; height: 350px"> </a>
                    </div>
                    <div class="carousel-item">
                        <a href='/comic/two'><img src="https://cdn.pixabay.com/photo/2015/05/03/15/09/margarite-751276_960_720.jpg" class="d-block w-100" style="width: 150px; height: 350px"></a>
                    </div>
                    <div class="carousel-item">
                        <a href='/comic/three'><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Red_rose.jpg/220px-Red_rose.jpg" class="d-block w-100" style="width: 150px; height: 350px"></a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>


</div>

    </body>
</html>
